 /* unvisited link */
a:link {
    color: #e5e9f0;
}

/* visited link */
a:visited {
    color: #b48ead;
}

/* mouse over link */
a:hover {
    color: #ebcb8b;
}

/* selected link */
a:active {
    color: pink;
} 

body {
    background: #3b4252;
    
/*    background: #FFFFFF;*/
	font-family: Palatino;
	color: #e5e9f0;
	text-justify: auto;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

button {
	    font-family: Palatino;
}



.center {
	width: 10%;
	display:block;
	margin: auto;
}

.circular--square_main {
	width: 30%;
    border-radius: 49%;
    margin-right: 30%;
    display: block;
    border: thick solid white;
    padding:0%;
}

.circular--square-left{
	width: 75%;
    border-radius: 50%;
    display: block;
    border: thick solid white;

}

.circular--square-right{
	width: 75%;
    border-radius: 50%;
    display: block;
    border: thick solid white;
}

.droplogo{
float: center;
width: 10em;

border= thick white;
border-radius: 20%;
display: inline-block;
/*margin-top: 5%;*/
/*margin-left:4%;
margin-bottom: 4%;
margin-right: 4%;*/
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

 /* Dropdown Button */
.dropbtn {
   
    background-color: #434c5e;
    color: #bfc1bb;
    color: #e5e9f0;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: block;
    float: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #5e81ac;
    /*color: green;*/
    min-width: 15%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #e5e9f0;
    padding: 12px;
    /*float:left;*/
    text-decoration: none;
    display: block;
    padding-left: 26px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #434c5e; color: #ebcb8b;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #5e81ac;
} 
.halfleft {
	float: left;
	width: 50%;
	display: inline;
}

.halfright {
	float: right;
	width: 50%;
	display:inline-block;0;
}

.header{
    position: fixed;
    pointer-events: all;
    z-index: 4;
    width: 97%;
    float: left;
}

.homepage {
	width: 100%;
	float: left;
    padding-top: 10%;
}

.intro {
  display: block;
  width: 25%;
  padding-left: 23%;
  padding-right: 2%;
  padding-top: 6%;
  float: left;
}
.keepscrolling{
    width: 5%;
    margin-left:47%;
    margin-top:%;
opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}

.larger{
	font-size: 200%;
}

.medialink{
float: center;
width: 1.5em;
height: 1.5em;
border= thick white;
border-radius: 20%;
display: inline-block;
margin-top: 15%;
margin-left:4%;
margin-bottom: 5%;
margin-right: 4%;
/*-webkit-filter: grayscale(100%);  Safari 6.0 - 9.0 
    filter: grayscale(100%);*/
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

             /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 2; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content/Box */
            .modal-content {
                background-color: #434c5e;
                margin: 5% auto; /* 15% from the top and centered */
                padding: 50px;
                padding-bottom: 150px;
                border: 10px solid #888;
                width: 33%; /* Could be more or less, depending on screen size */
            }
+
            /* The Close Button */
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: e5e9f0 ;
                text-decoration: none;
                cursor: pointer;
                text-align: left;
            }

            .modalbtn{
                background-color: #5e81ac;
                color: #e5e9f0;
                border: 0;
                /*float:left;*/
                padding-top: 10px;
                padding-bottom:10px;
                width:100%;
                display: block;
                padding-left: 10%;
                font-size: 100%;
                text-align: left;
            }

            .modalbtn:hover{
                background-color: #434c5e;
                color: #ebcb8b;
            }


.pdf{
float: center;
width: 5em;
height: 5em;
display: inline-block;
/*margin-top: 15%;
margin-left:5%;
margin-bottom: 5%;
margin-right: 5%;*/
/*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */*/
    /*filter: grayscale(100%);*/
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

.phonenumber{
	/*font-size: 200%;*/
	float: right;
  text-align: right;
  display:inline-block;0;
  width: 50%;
}
/*.halfright {*/
  /*float: right;*/
/*}*/


.modalthird{
    float: left;
    width:22%;
    padding: auto;
}
.third{
    float: left;
    width:20%;
    padding-left: 12.5%;
    padding-right: 0%;
}

.four{
    float: left;
    width:15%;
    padding-left: 5%;
    padding-right:5%;
}
.width65 {
	margin-left: auto;
    margin-right: auto;
	width: 55%;
	display: block;
}

.width40 {
	margin: auto;
	width: 25%;
	display: inline-block;
	padding: 2%;
    padding-left:38%;
}

/*html,body {
    padding:0;
    margin:0;
}*/

#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

.panels {
    position:relative;
    height:80%;
    min-height:80%;
    width:100%;
    z-index:3;
}

#a{
   background:#3b4252;
    position:fixed;
    /*top:0;*/
    z-index:3;
}

#b{
    padding-top: 5%;
   margin-top:30%;
       background-color: #3b4252;
       height:20px;
}

#c{
   background:#3b4252;
    position:relative;
    /*top:0;*/
    z-index:2;
}

#d{
   background:#3b4252;
    position:absolute;
    /*top:0;*/
    z-index:3;
}

.footer{
    margin-top: 99%;s
}

.fixed-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pad{
    padding-top:15%;
    opacity: 0;
    z-index:0;
}

/*        .toggle-box {
          display: none;
        }

        .toggle-box + label {
          cursor: pointer;
          display: block;
          font-weight: bold;
          line-height: 21px;
          margin-bottom: 5px;
        }

        .toggle-box + label + div {
          display: none;
          margin-bottom: 10px;
        }

        .toggle-box:checked + label + div {
          display: block;
        }

        .toggle-box + label:before {
          background-color: #4F5150;
          -webkit-border-radius: 10px;
          -moz-border-radius: 10px;
          border-radius: 10px;
          color: #FFFFFF;
          content: "+";
          display: block;
          float: left;
          font-weight: bold;
          height: 20px;
          line-height: 20px;
          margin-right: 5px;
          text-align: center;
          width: 20px;
        }

        .toggle-box:checked + label:before {
          content: "\2212";*/
        }


.accordion-toggle {cursor: pointer; margin: 0;}
        .accordion-content {display: none;}
        .accordion-content.default {display: block;}


.sicb {
    background-color: #4CAF50;
    background-color: #3b4252;
    color: #bfc1bb;
    padding-top: -5%;
    font-size: 0%;
    border: none;
    cursor: pointer;
    width:0%;
    height:0%;
}

.hangingindent {
  padding-left: 58px ;
  text-indent: -22px ;
} 
