 /* unvisited link */
a:link {
    color: #e5e9f0;
}

/* visited link */
a:visited {
    color: #b48ead;
}

/* mouse over link */
a:hover {
    color: #ebcb8b;
}

/* selected link */
a:active {
    color: pink;
} 

body {
    background: #3b4252;
/*    background: #FFFFFF;*/
    font-family: Palatino;
    color: #e5e9f0;
    text-justify: auto;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

button {
	    font-family: Palatino;
}


.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	width: 100%;
	float: center;
	text-align: center;
	display: block;
}

.center {
	width: 10%;
	display:block;
	margin: auto;
}

.circular--square_main {
	width: 45%;
    border-radius: 49%;
    margin-right: 27.5%;
    display: block;
    border: thick solid white;
    padding:0%;
}

.circular--square-left{
	width: 40%;
    border-radius: 50%;
    display: block;
    border: thick solid white;

}

.circular--square-right{
	width: 40%;
    border-radius: 50%;
    display: block;
    border: thick solid white;
}

.sicb{
float: center;
width: 50%;
border= thick white;
border-radius: 20%;
display: inline-block;
margin:4% 22.5%;
-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}

 /* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    background-color: #3b4252;
    color: #bfc1bb;
    padding-top: -5%;
    font-size: 0%;
    border: none;
    cursor: pointer;
    width:0%;
    height:0%;
}



/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    text-align: center;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 5%;
    font-size: 200%;
    width:250%;

}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding-top: 15%;
    padding-bottom:15%;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #3b4252}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3b4252;
} 

.halfleft {
	float: center;
	width: 15%;
	display: inline;
        padding:5% 10%;
        background-color: #3b4252;
}

.halfright {
	float: center;
	width: 15%;
	display:inline;
    padding:5% 15%;
    background-color: #3b4252
}

.homepage {
	width: 100%;
	float: left;
    margin-top: -7.5%;
}

.intro {
  display: block;
  width: 75%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  padding-top: 15%;
  float: left;
}
.keepscrolling{
    width: 10%;
    margin-left:45%;
    margin-top:5%; /*10 before sicb *?/
opacity: 0.4;
    filter: alpha(opacity=40); /* msie */
}
.larger{
	font-size: 150%;
}

.medialink{
float: center;
width: 1.5em;
height: 1.5em;
border= thick white;
border-radius: 20%;
display: inline-block;
margin-top: 10%;
margin-left:4%;
margin-bottom: 5%;
margin-right: 4%;
/*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */*/
    filter: grayscale(100%);
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
/*  transition: all 0.3s ease-in-out;*/
}

             /* The Modal (background) */
            .modal {
                display: none; /* Hidden by default */
                position: fixed; /* Stay in place */
                z-index: 1; /* Sit on top */
                left: 0;
                top: 0;
                width: 100%; /* Full width */
                height: 100%; /* Full height */
                overflow: auto; /* Enable scroll if needed */
                background-color: rgb(0,0,0); /* Fallback color */
                background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
            }

            /* Modal Content/Box */
            .modal-content {
                background-color: #fefefe;
                margin: 10% auto; /* 15% from the top and centered */
                padding: 20px;
                padding-right:15%;
                border: 1px solid #888;
                width: 33%; /* Could be more or less, depending on screen size */
            }

            .modalbtn{
                background-color: #f9f9f9;
                color: black;
                border: 0;
                /*float:left;*/
                padding-top: 10px;
                padding-bottom:10px;
                width:100%;
                display: block;
                padding-left: 0px;
                font-size: 100%;
            }

            .modalbtn:hover{
                background-color: #3b4252;
            }


            /* The Close Button */
            .close {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

            .close:hover,
            .close:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            } 
.pdf{
float: center;
width: 7em;
height: 7em;
display: inline-block;
/*margin-top: 15%;
margin-left:5%;
margin-bottom: 5%;
margin-right: 5%;*/
/*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */*/
    /*filter: grayscale(100%);*/
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all 0.3s ease-in-out;
}
.phonenumber{
	font-size: 120%;
	float: right;
    margin-top: 3%;

}

.third{
    float: left;
    width:25%;
    margin-left: 8%;
}


.four{
    float: left;
    width:15%;
    padding-left: 5%;
    padding-right:5%;
}

.width65 {
	margin: auto;
	width: 90%;
	display: block;
    font-size: 16px
}

.width40 {
    margin: auto;
    width: 25%;
    display: inline-block;
    padding: 2%;
    padding-left:38%;
}

.signature {
    width:50%;
    position: relative;
}

#wrapper {
    position:absolute;
    height:100%;
    width:100%;
}

.panels {
    position:relative;
    height:85%;
    min-height:85%;
    width:100%;
    z-index:3;
}

#a{
   background:#3b4252;
    position:fixed;
    /*top:0;*/
    z-index:2;
}

#b{
    padding-top: 5%;
   margin-top:30%;
       background-color: #3b4252;
       height:20px;
       font-size:20px;
}

#c{
   background:#3b4252;
    position:fixed;
    /*top:0;*/
    z-index:3;
    width:98%;
}

#d{
   background:#3b4252;
    position:absolute;
    /*top:0;*/
    z-index:3;
    font-size:20px;
    margin-top: auto;
}

.header{
    position: fixed;
    pointer-events: all;
    z-index: 4;
    width: 97%;
}

.footer{
    margin-top: 99%;s
}

.fixed-container {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.pad{

    padding-top:135%;
    opacity: 0;
    z-index:0;
}



.accordion-toggle {cursor: pointer; margin: 0;}
        .accordion-content {display: none;}
        .accordion-content.default {display: block;}

.hangingindent {
  padding-left: 30px ;
  text-indent: -22px ;
} 
