h1 { font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 23px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 23px; } h3 { font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 23px; } p { font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 100; line-height: 23px; } blockquote { font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 17px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } pre { font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif; font-size: 11px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 23px; } 
 /* unvisited link */

a:link {
    color: #e5e9f0;
}

/* visited link */
a:visited {
    color: #b48ead;
}

/* mouse over link */
a:hover {
    color: #ebcb8b;
}

/* selected link */
a:active {
    color: pink;
} 

body {
    background: #3b4252;
/*    background: #FFFFFF;*/
    font-family: Palatino;
    color: #062a45;
    text-justify: auto;
}

img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}

button {
	    font-family: Palatino;
}


.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	width: 100%;
	float: center;
	text-align: center;
	display: block;
}

.center {
	width: 10%;
	display:block;
	margin: auto;
}

dl {
  width: 100%;
  overflow: hidden;
  background: #ff0;
  padding: 0;
  margin: 0
}
dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  background: #cc0;
  padding: 0;
  margin: 0
}
dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  background: #dd0;
  padding: 0;
  margin: 0
}
